body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.body{padding:70px;}
.logo-main { margin: 20px auto; width:250px; display:block;}
.margin-top {margin-top:20px;}
.margin-top-5{margin-top:5px;}
.srch-option{margin:5px 10px 5px 5px; }
.color-primary {
  color: #3078EF;
}
.color-primary.fa {
  color: #3078EF;
}
.color-success {
  color: #5FBF5F;
}
.color-warning {
  color: #FC9700;
}
.color-danger {
  color: #ee5037;
}
.color-info {
  color: #b6ffb6;
}
.color-gray {
  color: #ccc;
}

.color-white {
  color: #fff;
}

.block-tab {
    border:1px solid #ddd;
    border-top:none;
}
.test {
  color: #5595ff;
}
.tab-btn-default a {
    background-image: -webkit-linear-gradient(top, #3078EF 0%, #5595ff 100%);
background-image: -o-linear-gradient(top, #3078EF 0%, #5595ff 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(#3078EF), to(#5595ff));
background-image: linear-gradient(to bottom, #3078EF 0%, #5595ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3078EF', endColorstr='#5595ff', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
background-repeat: repeat-x;
color:#fff;
}
.tab-btn-default a:hover {
    background-image: -webkit-linear-gradient(top, #5595ff 0%, #5595ff 100%);
background-image: -o-linear-gradient(top, #5595ff 0%, #5595ff 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(#5595ff), to(#5595ff));
background-image: linear-gradient(to bottom, #5595ff 0%, #5595ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5595ff', endColorstr='#5595ff', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
color:#ddd;
}

.bs-callout+.bs-callout {
margin-top: -5px;
}
.bs-callout-info {
border-left-color: #5bc0de !important;
}
.bs-callout-info h4 {
color: #5bc0de;
}
.bs-callout-warning {
border-left-color: #f0ad4e !important;
}
.bs-callout-warning h4 {
color: #f0ad4e;
}
.bs-callout-danger {
border-left-color: #d9534f !important;
}
.bs-callout-danger h4 {
color: #d9534f;
}
.bs-callout-primary {
border-left-color: #428BC4 !important;
}
.bs-callout-primary h4 {
color: #428BC4;
}
        
.bs-callout {
padding: 2px 10px;
margin: 10px 0 10px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
background-color:#f8f8f8;
}

#tablist li a {cursor:pointer;}
.resutContent {
    display:none;
}
#mod-detail {
    word-break:break-all;
}
.btnExport {
}
.overflow-hidden {
    overflow:hidden;
}
.padding-5 {
    padding:5px !important;
}
.padding-10 {
    padding:10px !important;
}
.input-xs, .form-horizontal .form-group-xs .form-control {
    height: 25px !important;
    padding: 3px 10px !important;
    font-size: 11px !important;
    line-height: 1.1 !important;
    border-radius: 3px !important;
}
.btnExtralink {
    font-size: 18px !important;
    margin-top:4px;
}
.resultLink{
    word-break:break-all;
}
.subdetail {
    display:inline-block; padding:2px; background-color:#dfebff; margin: 0 2px; font-size:12px;
}

.form-horizontal .control-label {
font-weight: normal !important;
}
.reqinput{color:red; font-size:10px !important;}

/*Circle*/
.i-circle {
  border: 5px solid #F1F1F1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 80px;
  width: 80px;
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 7px;
}
.i-circle i {
  font-size: 34px;
  vertical-align: middle;
  color: #666;
}
.i-circle.success i {
  color: #60C060;
}
.i-circle.primary i {
  color: #4D90FD;
}
.i-circle.warning i {
  color: #FC9700;
}
.i-circle.danger i {
  color: #DA4932;
}