@{
    ViewBag.Title = "About - IDS Search Engine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Search Engine Parser</h2>
@section scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#mainMenu li').removeClass('active');
            $('#mnAbout').addClass('active');
        });
    </script>
}
